<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%-include('./partials/head') %>

  <body class="home">

    <!-- Header -->
    <%-include('./partials/header') %>

      <main class="container">
        <section class="banner">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/posiblesBanner/banner-1.jpg" class="d-block w-100" alt="..."/>
              </div>
              <div class="carousel-item">
                <img src="/images/posiblesBanner/banner-2.jpg" class="d-block w-100" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="/images/posiblesBanner/banner-3.jpg" class="d-block w-100" alt="..." />
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
        <section class="ofertas" id="ofertas">
          <h2 class="my-3 text-center">¡Ofertas de la semana!</h2>
          <div class="row gx-2">
            <% oferta.products.forEach(producto=> { %>
              <div class="col-12 col-md-4 col-lg-3 my-3">

                <article class="p-3 mx-2 border rounded shadow">

                  <a href="/products/detail/<%= producto.id %>">
                    <img src="/images/productos/<%= producto.images[0].file %>" alt="" class="img-fluid" />
                  </a>

                  <h3>
                    <%= producto.title %>
                  </h3>
                  <p>$ <%= producto.price%>
                  </p>
                  <br>
                  <a class="btn btn-primary" href="/products/detail/<%= producto.id %>">ver más</a>


                </article>
              </div>
              <% }) %>
          </div>
        </section>
        <section class="destacados" id="destacados">
          <h2 class="my-3 text-center">Destacados de Deco</h2>
          <div class="row gx-2">
            <% destacado.products.forEach(producto=> { %>
              <div class="col-12 col-md-4 col-lg-3 my-3">

                <article class="p-3 mx-2 border rounded shadow">

                  <a href="/products/detail/<%= producto.id %>">
                    <img src="/images/productos/<%= producto.images[0].file %>" alt="" class="img-fluid" />
                  </a>

                  <h3>
                    <%= producto.title %>
                  </h3>
                  <p>$ <%= producto.price%>
                  </p>
                  <br>
                  <a class="btn btn-primary" href="/products/detail/<%= producto.id %>">ver más</a>


                </article>
              </div>
              <% }) %>



          </div>
          </div>
        </section>
        <section class="muebles" id="muebles">
          <h2 class="my-3 text-center">Muebles</h2>
          <div class="row gx-2">
            <% muebles.products.forEach(producto=> { %>
              <div class="col-12 col-md-4 col-lg-3 my-3">

                <article class="p-3 mx-2 border rounded shadow">

                  <a href="/products/detail/<%= producto.id %>">
                    <img src="/images/productos/<%= producto.images[0].file %>" alt="" class="img-fluid" />
                  </a>

                  <h3>
                    <%= producto.title %>
                  </h3>
                  <p>$ <%= producto.price%>
                  </p>
                  <br>
                  <a class="btn btn-primary" href="/products/detail/<%= producto.id %>">ver más</a>


                </article>
              </div>
              <% }) %>
          </div>
        </section>
      </main>
      <!-- Footer -->
      <%-include('./partials/footer') %>

        <!-- scripts -->
        <%-include('./partials/scripts') %>
  </body>

</html>