<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head') %>

  <body>
    <!-- encabezado -->
    <%-include('./partials/header') %>
      <main class="detail">
        <div class="container">

          <div class="card border rounded shadow my-5 col-md-8 col-lg-10 mx-auto">
            <div class="row">
              <div class="register col-12 col-lg-6 mt-5">
                <h2>¿Sos nuevo?</h2>
                <h4 class="mb-5">Registrate en pocos pasos...</h4>
                <form action="/users/register" method="POST" class="form-reg" >
                  <div class="mb-3">
                    <label for="exampleInputName">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                    name="name" title="El nombre debe tener un minimo de 3 caracteres" required data-span="name-reg"
                    pattern="^[A-Za-zñÑÁáÉéíÍÓóÚúÜü\s]{3,20}$"   
                     value="<%= locals.old && locals.old.name ? old.name : null%>">
                    <span class="text-danger small"><%= locals.errores && locals.errores.name ? errores.name.msg : null %> </span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputApellido">Apellido </label>
                    <input type="text" class="form-control"  id="exampleInputSurname" aria-describedby="emailHelp"
                    name="surname"title="El apellido debe tener un minimo de 3 caracteres" required data-span="app-reg"
                    pattern="^[A-Za-zñÑÁáÉéíÍÓóÚúÜü\s]{3,20}$"   
                     value="<%= locals.old && locals.old.surname ? old.surname : null%>">
                  </div>
                  <div class="mb-3">
                    <label for="birthdate">Fecha de nacimiento </label>
                    <input type="date" class="form-control fechainput" name="birthdate" data-span="date-reg" title="debe ingresar una fecha valida" required
                    pattern="^[1-2][0-9]{3}-[0-9]{2}-[0-9]{2}$" 
                     id="birthdate"value="<%= locals.old && locals.old.birthdate ? old.birthdate : null%>">
                  </div>
                  <div class="mb-3 itemmail">
                    <label for="exampleInputEmail1">Direccion de correo electronico </label>
                    <input type="email" class="form-control" name="email" title="Ingrese un mail"required 
                    pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                     aria-describedby="emailHelp" data-span="email-reg" id="exampleInputEmail1" value="<%= locals.old && locals.old.email ? old.email : null%>">
                     <span class="text-danger"><%= locals.errores && errores.email ? errores.email.msg : null%> </span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Contraseña </label>
                    <input type="password" class="form-control" name="password" title="La contraseña debe tener una mayúscula, una minuscula y un numero."required
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$" 
                     id="exampleInputPassword1"data-span="pass1-reg">
                    <span class="text-danger small"><%= locals.errores && locals.errores.password ? errores.password.msg : null %> </span>
                    <span class="text-danger"><%= locals.errores && errores.email ? errores.email.msg : null%> </span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword2">Confirma la contraseña </label>
                    <input type="password" class="form-control" name="password2" title="La contraseña debe tener una mayúscula, una minuscula y un numero."required
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$" 
                     id="exampleInputPassword2" data-span="pass2-reg">
                    <span class="text-danger small"><%= locals.errores && locals.errores.password2 ? errores.password2.msg : null %> </span>
                  </div>
                  <div class="mb-3">
                    <label><input type="checkbox" value="recibir" id="recibir" name="notify"> Quiero recibir notificaciones </label>
                    <label><input type="checkbox" value="acepto" id="acepto" name="AceptoRecibir"> Acepto las condiciones generales y la politica de
                      confidencialidad</label>
                  </div>
                  <span class="text-danger small my-2"><%= locals.errores && locals.errores.AceptoRecibir ? errores.AceptoRecibir.msg : null %> </span>
                  <button class="btn btn-primary w-100 mt-4" type="submit">Crear cuenta</button>
                </form>
              </div>
              <div class="register col-12 col-lg-6 mt-5">
                <h2 class="mb-5">Si ya estas registrado</h2>
                <form action="/users/login" method="POST" class="form-log">
                  <div class="mb-3">
                    <label for="exampleInputEmail2">Direccion de correo electronico </label>
                    <input type="email" class="form-control" name="email" title="Ingrese un mail"required
                    pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                     id="exampleInputEmail2" aria-describedby="emailHelp" data-span="email-log">
                  </div>
                  <div class="mb-3">
                    <label for="password">Contraseña </label>
                    <input type="password" class="form-control" name="password" title="La contraseña debe tener una mayúscula, una minuscula y un numero."required
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$"  id="password" data-span="pass-log">

                    <button class="btn btn-primary" type="button" onclick="mostrarContrasena()"><i class="fas fa-eye-slash" id="icon-eye"></i></button>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                      </div>
                </div>
                  <div class="mb-3">
                    <a href="#" class="text-secondary">¿Te olvidaste la contraseña?</a>
                  </div>
                  

                  <button class="btn btn-primary w-100 mt-4" type="submit">Iniciar Sesión</button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>

      <main>

        </div>
        <div class="separador"> </div>
        <div class="info2">


        </div>
        </div>

      </main>
      <!-- Pie de la página -->
      <%-include('./partials/footer') %>
        <%-include('./partials/scripts') %>
<script src="/javascripts/login.js" type="module"></script>
<script src="/javascripts/loginEye.js"></script>
  </body>

</html>