<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head') %>

  <body>
    <!-- encabezado -->
    <%-include('./partials/header') %>
      <main class="detail">
        <div class="container">

          <div class="card border rounded shadow my-5 col-md-8 col-lg-10 mx-auto">
            <div class="row">
              <div class="register col-12 col-lg-6 mt-5">
                <h2>¿Sos nuevo?</h2>
                <h4 class="mb-5">Registrate en pocos pasos...</h4>
                <form action="/users/register" method="POST" novalidate>
                  <div class="mb-3">
                    <label for="exampleInputName">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                    name="nombre" value="<%= locals.old && locals.old.nombre ? old.nombre : null%>">
                    <span class="text-danger small"><%= locals.errores && locals.errores.nombre ? errores.nombre.msg : null %> </span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputApellido">Apellido </label>
                    <input type="text" class="form-control" name="apellido" id="exampleInputApellido" aria-describedby="emailHelp"
                    name="apellido" value="<%= locals.old && locals.old.apellido ? old.apellido : null%>">
                  </div>
                  <div class="mb-3">
                    <label for="fechadenacimiento">Fecha de nacimiento </label>
                    <input type="date" class="form-control fechainput" name="fechaDeNacimientO" id="fechaDeNacimiento">
                  </div>
                  <div class="mb-3 itemmail">
                    <label for="exampleInputEmail1">Direccion de correo electronico </label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" id="exampleInputEmail1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Contraseña </label>
                    <input type="password" class="form-control" name="contrasenia" id="exampleInputPassword1">
                    <span class="text-danger small"><%= locals.errores && locals.errores.contrasenia ? errores.contrasenia.msg : null %> </span>
                  </div>
                  
                  <div class="mb-3">
                    <label><input type="checkbox" value="recibir" id="recibir" name="quieroRecibir"> Quiero recibir notificaciones </label>
                    <label><input type="checkbox" value="acepto" id="acepto" name="AceptoRecibir"> Acepto las condiciones generales y la politica de
                      confidencialidad</label>
                  </div>

                  <span class="text-danger small my-2"><%= locals.errores && locals.errores.AceptoRecibir ? errores.AceptoRecibir.msg : null %> </span>
                  <button class="btn btn-primary w-100 mt-4" type="submit">Crear cuenta</button>
                </form>
              </div>




              <div class="register col-12 col-lg-6 mt-5">
                <h2 class="mb-5">Si ya estas registrado</h2>
                <form action="/users/login" method="POST">
                  <div class="mb-3">
                    <label for="exampleInputEmail1">Direccion de correo electronico </label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Contraseña </label>
                    <input type="password" class="form-control" name="contrasenia" id="exampleInputPassword1">
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                      </div>
                </div>
                  <div class="mb-3">
                    <a href="#" class="text-secondary">¿Te olvidaste la contraseña?</a>
                  </div>
                  

                  <button class="btn btn-primary w-100 mt-4" type="submit">Iniciar Sesión</button>
                  <span class="text-danger"><%= locals.errores && errores.email ? errores.email.msg : null%> </span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>

      <main>

        </div>
        <div class="separador"> </div>
        <div class="info2">


        </div>
        </div>

      </main>
      <!-- Pie de la página -->
      <%-include('./partials/footer') %>
        <%-include('./partials/scripts') %>

  </body>

</html>