<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head') %>

  <body>
    <main class="charge">
      <div class="container">
        <!-- AGREGAR AL ACTION EL ID DEL PRODUCTO -->
        <form action="/products/edit/<%= producto.id %>?_method=PUT" class="formulario" enctype="multipart/form-data"
          method="POST">
          <label for="" class="btn-fotos"> <input type="file" name="imagen" class="examinar">Agregar fotos</label>
          <div class="colum">
            <div class="ctrl-input">
              <label for="titulo" class="items-label">Título</label>
              <input type="text" name="titulo" class="items-input" id="titulo" value="<%= producto.title %>">
            </div>
            <div class="ctrl-input">
              <label for="precio" class="items-label">Precio</label>
              <input type="text" name="precio" class="items-input" id="precio" value="<%= producto.price %>">
            </div>
            <div class="ctrl-input">
              <label for="codigo" class="items-label">Código</label>
              <input type="text" name="codigo" class="items-input" id="codigo">
            </div>
            <!-- <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <select id="category" class="form-select" name="category">
                <%# categorias.forEach(categoria => { %>
                 <option value="<%# categoria %>" <%# categoria == producto.category ? 'selected' : null %> ><%# categoria %></option>
                <%# }) %>
              </select>
          </div> -->
            <div class="ctrl-input">
              <label for="descripcion" class="items-label">Descripción</label>
              <input name="descripcion" class="items-textarea" id="descripcion"
                value="<%= producto.description %>"></input>
            </div>
          </div>
          <div class="ctrl-input">
            <button type="submit" class="items-button btn-charge">Editar producto</button>
          </div>
        </form>
      </div>
    </main>
  </body>

</html>