<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head') %>

    <body>
        <!-- encabezado -->
        <%-include('./partials/header') %>
            <main class="charge">
                <div class="container">
                    <div class="card border rounded shadow my-5 col-md-8 col-lg-10 mx-auto p-5">
                        <div class="row">
                            <form action="" class="formulario" enctype="multipart/form-data" method="POST">
                                <label for="" class="btn-fotos"> <input type="file" name="imagen" class="examinar"
                                        multiple>Agregar fotos</label>
                                <div class="ctrl-input">
                                    <label for="titulo" class="items-label">Título</label>
                                    <input type="text" name="title" value="<%= (locals && locals.errors) ? old.title :null %>" class="items-input" id="titulo">
                                </div>
                                <div class="ctrl-input">
                                    <label for="precio" class="items-label">Precio</label>
                                    <input type="text" name="price" value="<%=(locals && locals.errors) ? old.price : null %>" class="items-input" id="precio">
                                </div>
                                
                                <div class="ctrl-input">
                                    <label for="descripcion" class="items-label">Descripción</label>
                                    <textarea name="description" class="items-textarea" id="descripcion"></textarea>
                                </div>
                                <div class="ctrl-input">
                                    <label for="category" class="items-label">Categoría</label>
                                    <select name="category" class="category" id="">
                                        <option value="" hidden selected>Seleccione la categoría</option>
                                        <% categorias.forEach(categoria=> { %>
                                            <option value="<%= categoria%>" <%=(locals && locals.errors && categoria === old.category) ? "selected" : null %>
                                                >
                                                <%= categoria %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="ctrl-input">
                                    <button type="submit" class="items-button">Cargar producto</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
    </body>

</html>