<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head') %>
    <body>
        <!-- encabezado -->
        <%-include('./partials/header') %>
            <main class="charge">
                <div class="container">
                    <div class="card border rounded shadow my-2 col-md-8 col-lg-10 mx-auto px-5 py-3">
                        <div class="row">
                            <form action="/products/edit/<%= producto.id%>?_method=PUT" class="formulario"
                                method="POST" enctype="multipart/form-data">
                                <label for="" class="btn-fotos"> <input type="file" name="imagen" class="examinar"
                                        multiple>Agregar fotos</label>
                                <div class="ctrl-input">
                                    <label for="titulo" class="items-label">Título</label>
                                    <input type="text" name="title" class="items-input" id="titulo"
                                        value="<%= producto.name %>">
                                </div>
                                <div class="ctrl-input">
                                    <label for="precio" class="items-label">Precio</label>
                                    <input type="text" name="price" class="items-input" id="precio"
                                        value="<%= producto.price %>">
                                </div>
                                <div class="ctrl-input">
                                    <label for="descripcion" class="items-label">Descripción</label>
                                    <textarea name="description" class="items-textarea"
                                        id="descripcion"><%= producto.description %></textarea>
                                </div>
                                <div class="ctrl-input">
                                    <label for="category" class="items-label">Categoría</label>
                                    <select name="category" class="category" id="">
                                        <option value="" hidden selected>Seleccione la categoría</option>
                                        <% categorias.forEach(categoria=> { %>
                                            <option value="<%= categoria.id %>" <%=categoria.name==producto.category.name
                                                ? 'selected' : null %> ><%= categoria.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="ctrl-input">
                                    <button type="submit" class="items-button">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
    </body>
</html>