<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head') %>
    <body>
        <!-- encabezado -->
        <%-include('./admin/partials/header') %>
            <main class="charge">
                <div class="container">
                    <div class="card border rounded shadow my-2 col-md-8 col-lg-10 mx-auto px-5 py-3 mb-5">
                        <div class="row">
                            <form action="/products/edit/<%= producto.id%>?_method=PUT" class="formulario"
                                method="POST" enctype="multipart/form-data">
                                <label for="" class="btn-fotos"> <input type="file" name="imagen" class="examinar"
                                    multiple>Agregar fotos</label>
                                <div class="ctrl-input">
                                    <label for="titulo" class="items-label">Título</label>
                                    <input type="text" name="title" class="items-input" id="titulo"
                                        value="<%= producto.name %>">
                                        <span class="text-danger small"><%= locals.errores && locals.errores.title ? errores.title.msg : null %> </span>
                                </div>
                                <div class="ctrl-input">
                                    <label for="precio" class="items-label">Precio</label>
                                    <input type="number" name="price" class="items-input" id="price" value="<%= producto.price %>">
                                    <span class="text-danger small"><%= locals.errores && locals.errores.price ? errores.price.msg : null %> </span>
                                </div>

                                <div class="ctrl-input">
                                    <label for="descripcion" class="items-label">Descripción</label>
                                    <textarea name="description" class="items-textarea"
                                        id="descripcion"><%= producto.description %></textarea>
                                        <span class="text-danger small"><%= locals.errores && locals.errores.description ? errores.description.msg : null %> </span>
                                </div>
                                <div class="ctrl-input">
                                    <label for="category" class="items-label">Categoría</label>
                                    <select name="categoryId" class="category" id="categoryId" value="categoryId">
                                        <option value="" hidden selected>Seleccione la categoría</option>
                                        <% categorias.forEach(categoria=> { %>
                                            <option value="<%= categoria.id%>"<%= producto.categoryId === categoria.id ? 'selected' : null%>>
                                                <%= categoria.name %>
                                            </option>
                                            <% }) %>
                                            <span class="text-danger small"><%= locals.errores && locals.errores.categoryId ? errores.categoryId.msg : null %> </span>
                                    </select>
                                </div>
                               
                                <div class="ctrl-input">
                                    <button type="submit" class="items-button">Guardar Cambios</button>
                                </div>

                              
                            </form>
                        </div>
                    </div>
                </div>
            </main>
    </body>
</html>