<!DOCTYPE html>
<html lang="es">

  <%-include('./partials/head') %>

<body>
    <!-- encabezado -->
    <%-include('./partials/header') %>

    <!-- main -->

    <main class="detail">
        <div class="container">

         <!-- <img class="img-fluid rounded-start" src="/images/users/<%= user.avatar %> " alt=""> -->

            <div class="card border rounded shadow my-5">
                <h2>Profile</h2>
                <form class="row" action="/users/update/<%= userLogin.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
                        <div class="mb-3 col-12 col-md-6">
                          <label for="exampleInputName">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                          name="name" value="<%= user.name %>">
                          <span class="text-danger small"><%= locals.errores && locals.errores.name ? errores.name.msg : null %> </span>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label for="exampleInputApellido">Apellido </label>
                          <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="emailHelp"
                          name="surname" value="<%= user.surname %>">
                          <span class="text-danger small"><%= locals.errores && locals.errores.surname ? errores.surname.msg : null %> </span>
                        </div>
                      
                        
                        <div class="mb-3 col-12 col-md-6">
                            <label for="exampleInputPassword1"> Nueva contraseña </label>
                          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                          <span class="text-danger small"><%= locals.errores && locals.errores.password ? errores.password.msg : null %> </span>
                        </div>

                     
                          <div class="mb-3 col-12 col-md-6">
                            <label for="" class="btn btn-primary w-100 mt-3"> <input type="file" name="avatar" class="examinar"
                                >Subir imagen</label>
                          </div>
                        <button class="btn btn-primary w-100 mt-4" type="submit">Guardar cambios</button>
                    
                </form>
            </div>
        </div>
    </main>

  <!-- Pie de la página -->
  <%-include('./partials/footer') %>

   <!-- scripts -->
  <%-include('./partials/scripts') %>

</body>

</html>