<!DOCTYPE html>
<html lang="es">

  <%-include('./partials/head') %>

<body>
    <!-- encabezado -->
    <%-include('./partials/header') %>

    <!-- main -->

    <main class="detail">
        <div class="container">

            <div class="card border rounded shadow my-5">
              <div class=" text-center">
                
                  <img id='img-preview' class="rounded-circle w-25" src="/images/users/<%= user.avatar %> " alt="">

            </div>
              
              <h2>¡ Bienvenid@ <%= user.name %> ! </h2>
              <h5>Información de perfil:</h5>
              <form id="form-profile" class="row" action="/users/update/<%= userLogin.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
                        <div class="mb-3 col-12 col-md-6">
                          <label for="exampleInputName">Nombre</label>
                          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                          name="name" value="<%= user.name %>">
                          <span class="text-danger small"><%= locals.errores && locals.errores.name ? errores.name.msg : null %> </span>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label for="exampleInputApellido">Apellido </label>
                          <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="emailHelp"
                          name="surname" value="<%= user.surname %>">
                          <span class="text-danger small"><%= locals.errores && locals.errores.surname ? errores.surname.msg : null %> </span>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label for="birthdate">Fecha de nacimiento </label>
                          <input type="date" class="form-control fechainput" name="birthdate" id="birthdate" value=<%= date %>>
                          <span class="text-danger small"><%= locals.errores && locals.errores.birthdate ? errores.birthdate.msg : null %> </span>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label for="exampleInputEmail1">Direccion de correo electronico </label>
                          <input type="email" class="form-control" name="email" value="<%= user.email %>" aria-describedby="emailHelp" id="exampleInputEmail1" readonly>
                        </div>
           
                        <div class="mb-3 col-12 col-md-6">
                            <label for="exampleInputPassword1">Ingrese su Contreseña </label>
                            <input type="password" class="form-control" name="password" id="input-pass">
                            <span class="text-danger small"><%= locals.errores && locals.errores.password ? errores.password.msg : null %> </span>
                          </div>

                          <div class="mb-3 col-12 col-md-2 mx-auto">
                            <label for="avatar" class="btn btn-primary mt-3">Subir Imagen<label>
                              <input type="file" name="avatar" id="avatar" hidden>
                          </div>
                          <!-- <a href="/" class="btn btn-secondary w-50 mt-4" type="button">Cancelar</a> -->
                        <button class="btn btn-primary w-50 mt-4" type="submit">Guardar cambios</button>
                      </form>
                </form>
            </div>
        </div>
    </main>

    
      <script>
      let formSearch = document.getElementById('form-profile');
      let inputPass = document.getElementById('input-pass');
      let imgPreview = document.getElementById('img-preview');
      let avatar = document.getElementById('avatar');
      

      avatar.addEventListener('change', (e) => {
          // Creamos el objeto de la clase FileReader
          let reader = new FileReader();
                // Leemos el archivo subido y se lo pasamos a nuestro fileReader
                reader.readAsDataURL(e.target.files[0]);
                // Le decimos que cuando este listo ejecute el código interno
                reader.onload = function(){
                  imgPreview.src = reader.result;
                };

      })

      formSearch.addEventListener('submit', e => {
        e.preventDefault();
        inputPass.value && formSearch.submit();
      })
  

    <script> 
 avatar.addEventListener('chage'), (e) =>{
        let 
      }
    </script>

  <!-- Pie de la página -->
  <%-include('./partials/footer') %>

   <!-- scripts -->
  <%-include('./partials/scripts') %>

</body>

</html>